<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /sc-f/dist/
    RewriteRule ^sc-f/dist/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} ^/sti-f/dist/. [NC]
    RewriteRule . /sc-f/dist/index.html [L]
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.html [L]
</IfModule>