<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /sti-f/dist/
RewriteRule ^sti-f/dist/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^/sti-f/dist/. [NC]
RewriteRule . /sti-f/dist/index.html [L]
</IfModule>